<header>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-3">
        <div class="logo-container">
          <img src="assets/logo02.jpg" alt="" class="logo" [align]="'left'">
          <div class="usuLogado">{{obterUsuarioLogado()}}</div>
          <div class="botaoFechar" (click)="fechar()">Fechar</div>
        </div>
      </div>
      <div class="col-md-9 col-sm-9 col-9 text-end">
        <div class="menu-icon" (click)="openMenu()">
          <i class="{{menu_icon}}"></i>
        </div>
        <div class="desktop_menu" [class.mobile_menu]="menuValue">
          <ul>
            <li (click)="closeMenu()">Home</li>
            <li (click)="closeMenu()">About</li>
            <li (click)="closeMenu()">Courses</li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Configuração
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Convenção</a></li>
                <li><a class="dropdown-item" href="#">Departamentos</a></li>
                <li><hr class="dropdown-divider"></li>
                <li class="dropdown-item" (click)="estadosListar()">Estados</li>
              </ul>
            </li>
            <li (click)="closeMenu()">Contact</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
