<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 centralizarTexto topo">
      <div class="card">
        <div class="card-body login-detalhes">
          @if(erroLogin != null && erroLogin != '') {
            <div class="alert alert-danger negrito" role="alert">{{erroLogin}}</div>
          }
          <h1 class="negrito">CONFRATERES</h1>

          <div class="form-floating mb-2">
            <input type="text" class="form-control" id="dsUsuario" placeholder="Usuário" [(ngModel)]="loginDTO.login">
            <label for="dsUsuario">Usuário</label>
          </div>

          <div class="form-floating mb-2">
            <input type="password" class="form-control" id="dsSenha" placeholder="Password" [(ngModel)]="loginDTO.password">
            <label for="dsSenha">Senha</label>
          </div>

          <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="logar()">Login</button>
          <div>
            <button type="button" class="btn btn-link" (click)="recuperarSenha()">Recuperar Senha</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
