::ng-deep body {
  background-color: rgb(0, 51, 0);
}

.topo {
  top: 30vh;
  position: relative;
}

.login-detalhes {
  background-color: rgb(242, 242, 242);
  border-radius: 15px;
}

.negrito {
 font-weight: bold;
}

.componetes-margin {
  margin-top: 2%;
}
